<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbConnectionString" value="Server=raspberrypi;Port=5432;Database=hoax;User Id=postgres;Password=db;Search Path=db,public;"/>
    <add key="MqttConnection" value="tcp://raspberrypi:1883"/>
  </appSettings>
</configuration>