@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


body {
    padding: 0;
    margin: 0;
}


@keyframes FadeAway {
    0% {
        opacity: 1;
        height: auto;
        font-size: 2em;
    }
    80% {
        opacity: 1
    }
    95% {
        opacity: 0;
        height: auto;
        font-size: 2em;
    }
    100% {
        height: 0;
        font-size: 0;
    }
}

.fullscreen {
    opacity: 0;
    animation: FadeAway 20s;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

@keyframes spin {
    0%   {transform:rotateZ(0);top: -5vh;opacity: 0;right: +5vw}
    25% {transform:rotateZ(-10deg);}
    40%, 60% {opacity: 1;}
    50% {font-size: 250%;}
    75% {transform:rotateZ(-5deg);}
    98% {font-size: 0%;}
    100% {top: +5vh;opacity: 0;right: 0}
}

.countdown.is-counting .value {
    animation: spin 1s infinite;
    position: relative;
}

h1 {
    color: #6600aa;
}

/* Screen North */
.screen-n .content {
    background-color: white;
    padding: 1em;
}

/* Screen South */

.screen-s {
    background-color: #6600aa;
    background-image: url("images/hoaxly-logo-animated.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    width: 100vw;
    height: 100vh;
    display: block;
}
.screen-s .content {
    background-color: white;
    padding: 1em;
}


/* Screen Easth */
.screen-o {
    background-color: #6600aa;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: block;
}
.screen-o .content {
    background-color: white;
    padding: 1em;
}

/* stamp */

@keyframes stamp {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
  }
  100% {
    opacity: .75;
    transform: rotate(-15deg) scale(1);
  }
}

[stamp] {
  position: relative;
}

[stamp]:after {
  border: solid 0.1em #000;
  border-radius: .2em;
  color: #000;
  content: attr(stamp);
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  opacity: 0;
  position: absolute;
  padding: .1em .5em;
  margin: 0 auto;
  top: 10%;
  left: 10%;
  text-transform: uppercase;
  animation-name: stamp;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

[stamp="true"]:after {
  content: "true";
  border-color: green;
  color: green;
}

[stamp="false"]:after {
  content: "Fake";
  border-color: #d00;
  color: #d00;
}


/* pie */


@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0,0,0);
  }
}

body {
  font-family: "Open Sans", Arial;
  background: #EEE;
}
section {
}
.pieID {
  display: inline-block;
  vertical-align: top;
}
.pie {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 30px 30px 0;
}
.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #EEE;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}
.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}
.legend {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  padding: 15px;
  font-size: 13px;
}
.legend li {
  width: 110px;
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.legend em {
  font-style: normal;
}
.legend span {
  float: right;
}

.article {
  min-height: 100vh;
}

.article__shares {
  margin-top: 0.3em;
}

.article__share {
  display: inline;
  margin-right: 15px;
  font-size: 20px;
}

.article__share i {
  display: table-cell;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  border-radius: 50%;
  font-size: 23px;
}

.article__share i.fb {
  background-color: #4267b2;
}

.article__share i.tw {
  background-color: #1da1f2;
}