@using HoaxBuzzer.Web.Helper
@model HoaxBuzzer.Web.Models.AfterVoteScreenModel

@{
    Layout = null;
}

@if (Model.Article.articleIsTrue)
{
    <h1 class="stamp stamp--true" style="color: green">Der Artikel wird NICHT als Fake eingestuft (TRUE).</h1>
}
else
{
    <h1 class="stamp stamp--false" style="color: red">Der Artikel wird als FAKE eingestuft (FAKE).</h1>
}

<div stamp="@(Model.VoteStatistics.articleIsTrue ? "true":"false")">
    @Html.Partial("Partial/Article", Model)
</div>

@*
<pre>
@Model.VoteStatistics.DumpJson()
</pre>
*@