@using HoaxBuzzer.Web.Helper
@model HoaxBuzzer.Web.Models.AfterVoteScreenModel

@{
    Layout = null;
    var stats = Model.VoteStatistics;
    var percentage = Math.Round(stats.sameVote / ((decimal)stats.allVotes / 100), 1);
    var rnw = Model.VoteStatistics.GetRightAndWrong();
}

<div class="text-align: center; background: white; height: 100vh">
<h1 style="color: black; font-size: 30px; text-align: center;">
    Deine Einschätzung war @(Model.VoteStatistics.votedCorrect ? "RICHTIG":"FALSCH")!
</h1>
<h2 style="text-align: center;">@percentage% haben genauso geschätzt.</h2>
  <div class="pieID pie">
  </div>
  <ul class="pieID legend">
    <li>
      <em>RICHTIG:</em>
      <span>@rnw.Right</span>
    </li>
    <li>
      <em>FALSCH:</em>
      <span>@rnw.Wrong</span>
    </li>
  </ul>
  <br /><br /><br /><br />  <br /><br /><br /><br />
</div>
@*
<pre>
@Model.DumpJson()
</pre>
*@