@using HoaxBuzzer.Web.Helper
@model HoaxBuzzer.Web.Models.AfterVoteScreenModel

@{
    Layout = null;
    var stats = Model.VoteStatistics;
    var percentage = Math.Round(stats.sameVote / ((decimal)stats.allVotes / 100), 1);
    var rnw = Model.VoteStatistics.GetRightAndWrong();
}

<h1>
    your choice was @(Model.VoteStatistics.votedCorrect ? "CORRECT":"WRONG") !
    you are one of @percentage%
</h1>
<section>
  <div class="pieID pie">
  </div>
  <ul class="pieID legend">
    <li>
      <em>right</em>
      <span>@rnw.Right</span>
    </li>
    <li>
      <em>wrong</em>
      <span>@rnw.Wrong</span>
    </li>
  </ul>
</section>

<pre>
@Model.DumpJson()
</pre>