@using HoaxBuzzer.Web.Helper
@model HoaxBuzzer.Web.Models.AfterVoteScreenModel

@{
    Layout = null;
}

@if (Model.Article.articleIsTrue)
{
    <h1 class="stamp stamp--true">Der Artikel wird NICHT als Fake eingestuft (TRUE).</h1>
}
else
{
    <h1 class="stamp stamp--false">Der Artikel wird als FAKE eingestuft (FAKE).</h1>
}

<div style="font-size: 30px" stamp="@(Model.VoteStatistics.articleIsTrue ? "true":"false")">
    @Html.Partial("Partial/Article", Model)
</div>

<pre>
@Model.VoteStatistics.DumpJson()
</pre>