@using HoaxBuzzer.Web.Helper
@model HoaxBuzzer.Web.Models.AfterVoteScreenModel

@{
    Layout = null;
}

@if (Model.Article.articleIsTrue)
{
    <div class="stamp stamp--true">the article was REAL!</div>
}
else
{
    <div class="stamp stamp--false">the article was FAKE!</div>
}


@Html.Partial("Partial/Article", Model)

<pre>
@Model.VoteStatistics.DumpJson()
</pre>