@using HoaxBuzzer.Web.Helper

@{
    ViewBag.Title = "ScreenN";
    var dummyButtons = AppSettings.Get("EnableDummyButtons", true);
    var voteDelay = AppSettings.Get("VoteDelay");
    var animationTime = string.Format("{0}s", voteDelay).ToRawHtml();
}

<div class="countdown is-idle">
    <div class="value"></div>
</div>

<div class="screen-n">
    <div class="article">
        @Html.Action("ScreenNcontent")
    </div>
</div>

<!--
dummy buttons for development - can be by setting 'EnableDummyButtons' to 'False' (Environment, Web.Config, etc...)
-->
@if (dummyButtons)
{
    <div class="dummy-buttons">
        <button class="vote-true" style="float: right; background: green">TRUE</button>
        <button class="vote-false" style="float: left; background: red">FALSE</button>
        <br style="clear: both" />
    </div>
    <style>
        .dummy-buttons {position: fixed; left: 0; bottom: 0; width: 100vw}
        .dummy-buttons button { width: 48%; font-size: 3.5em}

         @@keyframes ButtonAnimation {
             0% {opacity: 1;}
             5% {opacity: 0;}
             95% {opacity: 0;}
             100% {opacity: 1;}
         }
        body.animate .dummy-buttons {
            animation: ButtonAnimation @animationTime;
        }
    </style>
}

<style>
    @@keyframes FromTop {
        0% {top: 0; opacity: 1}
        30% {top: +1000px; opacity: 0}
        60% {top: -1000px; opacity: 0}
        100% {top: 0; opacity: 1}
    }

    .animate .screen-n .article {
        position: relative;
        animation: FromTop @animationTime;
    }

    .countdown {
        position: fixed;
        right: 100px;
        top: 100px;
    }

</style>

@section scripts
{
    <script>
        jQuery(document).ready(function($) {
            "use strict";
            var topic = window.channels.ScreenN;
            var websocket = window.channels.Websocket;
            var ajaxContent = window.config.ajaxScreenNcontent;
            var ajaxSetVote = window.config.ajaxSetVote;
            var voteDelay = window.config.voteDelay;

            var countdownHandle = null;

            function startCountdown() {
                if (countdownHandle != null) clearInterval(countdownHandle);
                var $countdown = $('.countdown');
                var $value = $countdown.find('.value');
                $countdown.addClass("is-counting").removeClass("is-idle");
                $value.text(voteDelay);
                var countOneDown = function() {
                    var cVal = parseInt($value.text());
                    var nVal = cVal - 1;
                    $value.text(nVal);
                    if (nVal <= 0) {
                        clearInterval(countdownHandle);
                        countdownHandle = null;
                        $countdown.removeClass("is-counting").addClass("is-idle");
                        $value.text("");
                    }
                };
                countdownHandle = setInterval(countOneDown, 1000);
            }

            var client = mqtt.connect(websocket);

            client.on("message",
                function(topic, payload) {
                    var o = JSON.parse(payload.toString());
                    var articleId = o.articleId;
                    var ajaxUrl = ajaxContent + '/?articleId=' + articleId;
                    var doAjax = function() {
                        $(".screen-n .article").load(ajaxUrl);
                    };
                    setTimeout(doAjax, 3000);
                    $(document.body).StartCssAnimation('animate');
                    startCountdown();
                });

            function vote(value) {
                var articleId = $("#article-id").text();
                var ajaxUrl = ajaxSetVote + '/?articleId=' + articleId + '&voteValue=' + (value ? "True" : "False");
                $.get(ajaxUrl);
            }

            $(".vote-true").on("click", function() { vote(true); });
            $(".vote-false").on("click", function() { vote(false); });

            client.subscribe(topic);
        });
    </script>
}
