
@{
    ViewBag.Title = "ScreenO";
}

<div class="screen-o">

</div>

<style>
    @@keyframes FromTopLeft {
        0% {top: -1000px;left: -1000px; opacity: 0;}
        10% {top: 0;left: 0; opacity: 1;}        
        95% {opacity: 1;}
        100% {opacity: 0;}
    }

    .animate .screen-o {
        opacity: 0;
        position: relative;
        animation: FromTopLeft 20s;
    }
</style>


@section scripts
{
    <script>
        jQuery(document).ready(function ($) {
            "use strict";
            var topic = window.channels.ScreenO;
            var websocket = window.channels.Websocket;
            var ajaxContent = window.config.ajaxScreenOcontent;
            var client = mqtt.connect(websocket);

            client.on("message", function(topic, payload) {
                var o = JSON.parse(payload.toString());
                var articleId = o.articleId;
                var voteId = o.voteId;
                var ajaxUrl = ajaxContent + '/?articleId=' + articleId + '&voteId=' + voteId;
                $(document.body).StartCssAnimation("animate");
                $(".screen-o").load(ajaxUrl);
            });

            client.subscribe(topic);
        });
    </script>
}