@using HoaxBuzzer.Web.Helper
@model HoaxBuzzer.Web.Models.BevoreVoteScreenModel

@{
    Layout = null;
    var article = Model.Article;
    var screenshotUrl = Url.Action("Image", new {imageId = article.fkScreenshot});
}

@*keep this*@ 
<div style="display: none" id="article-id">@article.id</div>

@Html.Partial("Partial/Article", Model)
