
@{
    ViewBag.Title = "ScreenW";
}

<div class="wrapper" style="background-color: #6600aa; color: white; padding: 5%; width: 90%; height: 100vh">
  <div style="text-align: center">
  <object data="~/Content/images/hoaxly-logo-animated.svg" class="logo" type="image/svg+xml" height="100px" width="100px" style="margin: auto">
  </object>
  </div>
  <article id="info" style="text-align: left">
    <div style="font-size: 20px">
    <p>hoaxly unterstützt Projekte zur Förderung von Medienkompetenz.</p>
    <p>Mit Hilfe einer zentralen Datenbank von Richtigstellungen bauen wir Open-Source Tools:</p>
    <ul>
    <li>Browser Erweiterungen</li>
    <li>Chatbots</li>
    <li>Suchen</li>
    <li>u.v.m.</li>
    </ul>
    </div>
  </article>
  Mehr Infos:<br />
    <span style="font-size: 30px; font-weight: bold;">https://hoax.ly</span><br />
  <small>Supported by netidee</small>
</div>


